.bodyHome {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    color: #fff;
}

.textoPrincipal {
    margin-left: 4%;
    width: 35%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.textoPrincipal h1 {
    font-size: 50px;
    margin-top: 20%;
    margin-bottom: 7%;
}

.textoPrincipal h6 {
    font-size: 20px;
    opacity: 0.7;
}

.imageProgramming {
    margin-right: 7%;
}

.contactos {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}

.contactos a:hover{
    transform: scale(1.2);
}

.contactos button:hover{
    transform: scale(1.2);
}