.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
}

.button-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.3s;
    margin: 0 15px;
    cursor: pointer;
}

.nav-button:hover {
    opacity: 1;
}

@media screen and (max-width: 550px) {
    .nav-button {
        font-size: 12px;
        margin: 0 5px;
    }
}